.gitignore
.dockerignore

# Ignorar a pasta venv
/.venv

# Ignorar o cache Python
**/__pycache__/

# Ignorar pastas estáticas e de templates
**/outros exemplos/static
**/outros exemplos/templates

# Ignorar arquivos e pastas específicas
**/simples/
**/comandos_original.py
**/Dockerfile
**/cabeçalho
**/simples reconhecimento facial json/comandos.py
**/simples reconhecimento facial json/__pycache__/
**/simples reconhecimento facial json retorno de imagem (base)/__pycache__/
**/simples reconhecimento facial json retorno de imagem (lib)/__pycache__/
**/outros outros exemplos produção/simples autenticação facial com json e flask
**/exemplos produção/comandos.py
**/simples autenticação facial com json e flask/__pycache__/
**/exemplos produção/
**/outros exemplos/main.py
**/venv

# Ignorar arquivo específico
/comandos-1.0.1.py
/comandos-1.0.3.py
/comandos-1.0.4.py
/comandos-1.0.5.py

/LICENSE