.gitignore
/venv
/exemplos/__pycache__
/exemplos/static
/exemplos/templates
/exemplos/simples
/exemplos/comandos_original.py 
/exemplos/Dockerfile
/exemplos/main.py
/exemplos/cabeçalho
/exemplos/comandos.py
/exemplos/simples reconhecimento facial json/comandos.py
exemplos/simples reconhecimento facial json /__pycache__
exemplos/simples reconhecimento facial retorno de imagem json/__pycache__
exemplos produção/simples autenticação facial com json e flask
exemplos produção/comandos.py
exemplos/simples autenticação facial com json e flask/__pycache__
exemplos produção/simples reconhecimento facial json
exemplos produção/simples reconhecimento facial retorno de imagem json