/venv
/exemplos/__pycache__
/exemplos/static
/exemplos/templates
/exemplos/simples
/exemplos/comandos_original.py 
/exemplos/Dockerfile
/exemplos/main.py
/exemplos/cabeçalho
/exemplos/comandos.py
/exemplos/simples reconhecimento facial json/comandos.py
/exemplos/simples reconhecimento facial json/__pycache__